
// common style
@menuBgColor: #fff;
@menuBorderColor: #dcdfe6;
@menuItemActiveColor: #dfa9df;
@menuItemHoverBgColor: #dfa9df80;
@bgColor: hsl(220, 13%, 95%);
@contentBgColor: #fff;
@fontColor: #000;
@iconColor: #444343;
// item color
@itemBorderRadius: 3px;
@itemBorderColor: #eeeff3;
@itemActiveColor: #ca75ca33;
@itemHoverColor: #ca75ca;
@itemHoverBgColor: #ca75ca1a;
// input color
@inputBorderRadius: 3px;
@inputColor: #5a5e61;
@inputPlaceholderColor: #86909c;
// select color
@optionSelectedBgColor: #f9d9f9;
@optionHoverBgColor: #f8d9f667;
// button color
@btnColor: #faecf9;
@plainBtnBgColor: @contentBgColor; 
@plainBtnHoverBgColor: @infoBtnBgColor;
@primaryBtnBgColor: #f1aaf1;
@primaryBtnHoverBgColor: #f8b2f8;
@infoBtnBgColor: #fff2fd;
@infoBtnHoverBgColor: #f9d9f9;
@infoBtnSelectedBgColor: #b52df97d;
@warningBtnBgColor: #fdf6ec;
@warningBtnHoverBgColor: #f9e9d9;
@warningBtnColor: #e6a23c;
@warningBtnBorderColor: @warningBtnColor;
@dangerBtnBgColor: #fef0f0;
@dangerBtnHoverBgColor: #f9d9d9;
@dangerBtnColor: #f56c6c;
@dangerBtnBorderColor: @dangerBtnColor;
@btnBorderColor: #eda2ed;
// message color
@messageSuccess: #f0f9eb;
@messageSuccessColor: #67C23A;
@messageError: @dangerBtnBgColor;
@messageErrorColor: @dangerBtnColor;
@messageWarning: @warningBtnBgColor;
@messageWarningColor: @warningBtnColor;
@messageInfo: #edf2fc;;
@messageInfoColor: #909399;
// border color
@border: 1px solid #ccc;
@btnBorder: 1px solid @btnBorderColor;
:root {
  --itemHoverColor: @itemHoverColor;
  --iconColor: @iconColor;
  --unClickColor: #8a919f;
  --btnColor: @btnColor;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}
ol,
ul {
  list-style: none;
}
// leslie-message style
.leslie-message-container {
  position: fixed;
  color: @btnColor;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  top: 50px;
  z-index: 200;
  
}
.leslie-message-icon {
  width: 18px;
  margin-right: 5px;
}
.leslie-message {
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.leslie-message--success {
  background-color: @messageSuccess;
  color: @messageSuccessColor;
}
.leslie-message--error {
  background-color: @messageError;
  color: @messageErrorColor;
}
.leslie-message--warning {
  background-color: @messageWarning;
  color: @messageWarningColor;
}
.leslie-message--info {
  background-color: @messageInfo;
  color: @messageInfoColor;
}
.leslie-close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: @messageInfoColor;
}
