
// 通用样式
@menuBgColor: #fff;
@menuBorderColor: #dcdfe6;
@menuItemActiveColor: #dfa9df;
@menuItemHoverBgColor: #dfa9df80;
@bgColor: hsl(220, 13%, 95%);
@contentBgColor: #fff;
@fontColor: #000;
@iconColor: #444343;
@itemBorderRadius: 3px;
@itemBorderColor: #eeeff3;
@itemActiveColor: #ca75ca33;
@itemHoverColor: #ca75ca;
@itemHoverBgColor: #ca75ca1a;
@btnColor: #faecf9;
@btnBgColor: #f1aaf1;
@btnBorderColor: #eda2ed;
@messageSuccess: #f0f9eb;
@messageSuccessColor: #67C23A;
@messageError: #fef0f0;
@messageErrorColor: #f56c6c;
@messageWarning: #fdf6ec;
@messageWarningColor: #e6a23c;
@messageInfo: #edf2fc;;
@messageInfoColor: #909399;
@border:1px solid #ccc;
:root {
  --itemHoverColor: @itemHoverColor;
  --iconColor: @iconColor;
  --unClickColor: #8a919f;
  --btnColor: @btnColor;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}
ol,
ul {
  list-style: none;
}
.leslie-message-container {
  position: fixed;
  color: @btnColor;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  top: 50px;
  
}
.leslie-message-icon {
  width: 18px;
  margin-right: 5px;
}
.leslie-message {
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.leslie-message--success {
  background-color: @messageSuccess;
  color: @messageSuccessColor;
}
.leslie-message--error {
  background-color: @messageError;
  color: @messageErrorColor;
}
.leslie-message--warning {
  background-color: @messageWarning;
  color: @messageWarningColor;
}
.leslie-message--info {
  background-color: @messageInfo;
  color: @messageInfoColor;
}
.leslie-close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: @messageInfoColor;
}
